<div class="container">
   <div class=" alert alert-success text-center sign_up_msg">
           <img src="/images/right_tick.png" width="50">
           <h2>Thanks for Signing Up.</h2>
             <p>Your request has been successfully sent to the administrator. You will be able to use the application once admin approves your request.</p>
       </div>
</div>
