 {{> header}}
  {{> leftbar}}

<div id="page-content-wrapper" class="in_progress">
    <div class="container-fluid">
        <div class="row">
            <img src="/images/under_construction.png">
        </div>
    </div>
</div>

   <!-- <div id="page-content-wrapper">
            <div class="container-fluid">
                <form method='get' class="form_submit">
                <div class="row">
                    <div class="col-lg-5 pad-rgt-5 pad-lft-5">
                        <input type="text" class="form-control" placeholder="First Name" name="f_Name">
                    </div>
                    <div class="col-lg-5 pad-rgt-5 pad-lft-5">
                        <input type="text" class="form-control" placeholder="Last Name" name="l_Name">
                    </div>
                    <div class="col-lg-2 pad-rgt-5 pad-lft-5">
                        <input type="submit" class="sitebtn" value="GO">
                    </div>
                </div>
                </form>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-lg-12 pad-rgt-5 pad-lft-5">
		            	<div class="table-responsive data_main_table">
			                <table class="table table-bordered" border="0" cellpadding="0" cellspacing="0">
			                	<tr>
			                		<th>S.No</th>
			                		<th>Alias id</th>
			                		<th>First Name </th>
			                		<th>Last Name</th>
			                	</tr>
			                	<tr>
			                		<td>1</td>
			                		<td>abcd</td>
			                		<td>12345</td>
			                		<td>100.00</td>
			                	</tr>
			                </table>
		                </div>
		            </div>
		        </div>
            </div>
        </div> -->