<div id="sidebar-wrapper">
				<ul class="sidebar-nav">
					
					<li class="sub-menu collapse" id="report">
						<li><a href="/crash" id="Crash"> <img src="/images/bugs.png" width="20"/>Issues</a></li>
						
					</li>
									
				</ul>
			</div>